<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Express + Browserify.</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>


<main role="main">

<div class="control-container">
  <canvas id="x-control" class="x-control" width=300 height=300></canvas>
</div>
<p>
x: <span id="x-display"></span><br>
y: <span id="y-display"></span><br></bt>
</p>
<button type="button" id="lon"> laser on </button>
<button type="button" id="loff"> laser off </button>
</main>

<script src="app.js"></script>
</body>
</html>